// COLORS
$color-pr-1: #2d0bf0;
$color-pr-2: #1e62f5;
$color-pr-3: #06bae8;
$color-pr-4: #18c1f0;

$color-se-1: #0f011f;
$color-se-2: #2c2435;
$color-se-3: #363538;

$color-hv-1: #e70cc3;
// Font-size
$fs-sm: 14px;
$fs-md: 18px;
$fs-lg: 25px;
$fs-xl: 32px;

// Font-weight
$fw-thin: 200;
$fw-normal: 300;
$fw-bold-1: 500;
$fw-bold-2: 700;

// Font-family
$font-title: "Roboto", sans-serif;
$font-text: "Montserrat", sans-serif;

// break points
$breakpoints: (
  "extra-large": 1199px,
  "large": 991px,
  "medium": 767px,
  "small": 575px,
);

:export{
  colorPrimaryOne: $color-pr-1
}